#navbar_container{
    width: 100vw;
    height: 2rem;
    background-color: rgb(50, 50, 51);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    margin-left: 1rem;
    height: 2rem;
    width: 2rem;
    display: inline;
}
#nav_buttons{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button{
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
}
#search{
    width: 20%;
    height: 1.5rem;
    border-radius: 5px;
    border: 1px solid rgb(102, 102, 102);
}
#additional{
    width: 30%;
}
