#videocall_container{
    width: 15vw;
    height: 92.5vh;
    background-color: rgb(103, 103, 103);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;
    float: right;
}
#user1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
#user_img{
    width: 10rem;
    height: 7rem;
}